
\.DS_Store
/node_modules
.idea
package-lock\.json

dist/win-unpacked/

dist/mac/

dist/linux-unpacked/

dist/win-ia32-unpacked/

dist/latest\.yml

dist/builder-effective-config\.yaml

dist/\.icon-ico/

dist/
